body {
    display: grid;
    place-content: center;
    background-color: rgb(226, 185, 192);
}

button {
    border: 2px solid rgb(2, 2, 34);
    background-color: rgb(212, 212, 224);

}

h1 {
    font-style: monospace;
}

img {
    width: 20vh;
    font-size: large;
   
}

#contenedor-imagen{
    border: 4px black;

}
#prueba-1{
    background-color: blue;
}

#prueba-2{
    background-color: grey;
}

#prueba-3{
    background-color:blue ;
}
#prueba-4{
    background-color: grey;
}
#prueba-5{
    background-color: blue;
}
#prueba-6{
    background-color: grey;
}

#prueba-7{
    background-color: blue;
}

#prueba-8{
    background-color:grey ;
}
#prueba-9{
    background-color:blue;
}
#prueba-10{
    background-color: grey;
}

#estetica-1{
    background-color: red;
}

