body {

    background-color:rgb(202, 117, 130);
    display: grid;
    place-content: center;
    
}
#contenedor-imagen{
    display: flex;
    margin: auto;
    float: left;
    overflow: hidden;
}

button {
    border: 2px solid rgb(2, 2, 34);
    background-color: rgb(212, 212, 224);
}

#contenedor-general {
    display: grid;
    place-content:center;
    font-style: monospace;
}



#imagen-inicial{
    width: 32vh;
    font-size: large;
    margin: auto;
    float: left;
    overflow: hidden;

}
img {
    width: 27vh;
    display: flex;
    flex-wrap: wrap;
   
}

#contenedor-imagen{
    border: 4px black;
}

#color1-1{
    background-color: rgb(219, 10, 10);
}
#color1-2{
    background-color: rgb(236, 236, 11);
}
#color1-3{
    background-color: rgb(219, 10, 10)
}
#color1-4{
    background-color:  rgb(236, 236, 11);
}
#color1-5{
    background-color: rgb(219, 10, 10);
}
#color1-6{
    background-color:  rgb(236, 236, 11);
}
#color1-7{
    background-color: rgb(219, 10, 10);
}
#color1-8{
    background-color:  rgb(236, 236, 11);
}
#color1-9{
    background-color: rgb(219, 10, 10);
}
#color1-10{
    background-color: rgb(236, 236, 11);
}



#color2-1{
    background-color: rgb(11, 122, 11);
}
#color2-2{
    background-color: rgb(92, 3, 92);
}
#color2-3{
    background-color: rgb(11, 122, 11);
}
#color2-4{
    background-color: rgb(92, 3, 92);
}
#color2-5{
    background-color: rgb(11, 122, 11);
}
#color2-6{
    background-color:rgb(92, 3, 92);
}
#color2-7{
    background-color: rgb(11, 122, 11);
}
#color2-8{
    background-color: rgb(92, 3, 92);
}
#color2-9{
    background-color: rgb(11, 122, 11);
}
#color2-10{
    background-color: rgb(92, 3, 92);
}





#color3-1{
    background-color: rgb(13, 13, 180);
}

#color3-2{
    background-color: rgb(134, 132, 132);
}

#color3-3{
    background-color:rgb(13, 13, 180) ;
}
#color3-4{
    background-color: rgb(134, 132, 132);
}
#color3-5{
    background-color: rgb(13, 13, 180);
}
#color3-6{
    background-color: rgb(134, 132, 132);
}

#color3-7{
    background-color: rgb(13, 13, 180);
}

#color3-8{
    background-color:rgb(134, 132, 132);
}
#color3-9{
    background-color:rgb(13, 13, 180);
}
#color3-10{
    background-color:rgb(134, 132, 132);
}

